Plug 'peservim/nerdtree'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'

" Map leader to space ---------------------
let mapleader=" "

set visualbell
set noerrorbells

" set surround
" set multiple-cursors
" set commentary
" set argtextobj

" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
set highlightedyank
set NERDTree
set ReplaceWithRegister
set mini-ai
set which-key

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set noh
set ignorecase
set relativenumber
set number


""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=purple
set idearefactormode=keep

""" Mappings -------------------------------
map <leader>z :action ToggleDistractionFreeMode<CR>

nnoremap <leader>wh <C-W>h
nnoremap <leader>wl <C-W>l
nnoremap <leader>wk<C-W>k
nnoremap <leader>wj <C-W>j
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap H :bp<CR>
nnoremap L :bn<CR>
nnoremap [b :bp<CR>
nnoremap ]b :bn<CR>

map <leader>e :NERDTreeToggle<CR>
map <leader>rn :action RenameElement<CR>
map <leader>ff :action GotoClass<CR>
nnoremap gR :action FindUsages<CR>
nnoremap gh :action QuickJavaDoc<cr>
nnoremap ge :action ShowErrorDescription<cr>
nnoremap ga :action ProblemsView.QuickFixes<CR>
nnoremap gI :action GotoImplementation<CR>

nnoremap Y y$
xnoremap p "_dP
vnoremap p "_dP

map <leader>p "+p
map <leader>y "+y

xmap > >gv
xmap < <gv
